<ng-container *ngIf="isLoading">
  <div class="row g-2">
    <div class="col-12 col-md-6 col-lg-3">
      <ngx-skeleton-loader count="1"
                           [theme]="{'height.px': 150, 'border-radius.px': 8, 'background-color': '#e6e6e6'}"></ngx-skeleton-loader>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <ngx-skeleton-loader count="1"
                           [theme]="{'height.px': 150, 'border-radius.px': 8, 'background-color': '#e6e6e6'}"></ngx-skeleton-loader>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <ngx-skeleton-loader count="1"
                           [theme]="{'height.px': 150, 'border-radius.px': 8, 'background-color': '#e6e6e6'}"></ngx-skeleton-loader>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <ngx-skeleton-loader count="1"
                           [theme]="{'height.px': 150, 'border-radius.px': 8, 'background-color': '#e6e6e6'}"></ngx-skeleton-loader>
    </div>
  </div>
</ng-container>
