<div class="card shadow-sm rounded-lg overflow-hidden relative">
  <img src="assets/image/product/fb-logo.jpg" class="w-full bg-cover object-cover max-h-40" alt="product">
  <div class="absolute top-2 left-2">
    <p class="bg-gray-800 pill">Sold {{1435 | number}}</p>
  </div>
  <div class="card-body border-t">
    <div class="flex justify-between mb-2">
      <h5 class="card-title my-auto">PPA USA 2016</h5>
      <h5 class="card-title price my-auto">{{14.99 | currency}}</h5>
    </div>
    <div class="flex justify-content-between">
      <div class="my-auto">
        <p class="card-text mb-0">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <div class="mt-auto">
        <button mat-ripple type="button" (click)="onBuy('1234567890')" class="btn bg-primary btn-primary btn-sm rounded-lg mb-0">Buy</button>
      </div>
    </div>


  </div>
</div>
