/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Kantumruy:wght@300;400;700&family=Inter:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Inter', 'Kantumruy', Roboto, "Helvetica Neue", cursive, sans-serif;
  background-color: #f3f3f4;
}

.form-control {
  &:focus {
    box-shadow: none !important;
    border-color: inherit;
  }
}

.mat-tab-group, .mat-tab-label, .mat-tab-link {
  font-family: inherit !important;
}
.mat-bottom-sheet-container, .mat-list-base .mat-list-item, .mat-list-base .mat-list-option, .mat-menu-item {
  font-family: inherit !important;
}
.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
  height: 50px !important;
}

.fs-90 {
  font-size: 0.9rem;
}
