<app-navbar></app-navbar>
<div class="my-5">
  <div class="container py-3">
    <div class="row">
      <div class="col-12">
        <div class="flex justify-content-center mt-3">
          <div class="my-auto">
            <div class="input-group mb-2">
              <span class="input-group-text bg-white border-end-0 rounded-tl-lg rounded-bl-lg"><i
                class="bi bi-search"></i></span>
              <input type="text" class="form-control border-start-0 rounded-lg"
                     aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
          </div>
        </div>
        <div class="mt-2" *ngIf="isLoadingCategories">
          <ngx-skeleton-loader count="1"
                               [theme]="{'height.px': 50, 'border-radius.px': 8, 'background-color': '#e6e6e6'}"></ngx-skeleton-loader>
        </div>
        <mat-tab-group dynamicHeight class="min-h-fit" *ngIf="!isLoadingCategories">
          <mat-tab label="All Product">
            <div class="overflow-y-auto overflow-x-hidden" style="height: 70vh">
              <div class="row g-3 my-3">
                <ng-container *ngIf="isLoadingProducts, else hasProduct">
                  <app-loading-product></app-loading-product>
                </ng-container>
                <ng-template #hasProduct>
                  <div class="col-12 col-md-6 col-lg-3" *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11,12]">
                    <app-product (onClickBuy)="onOpenProductDialog($event)"></app-product>
                  </div>
                </ng-template>
              </div>
            </div>
          </mat-tab>
          <mat-tab [label]="category['label']" *ngFor="let category of categories ?? []">
            <div class="overflow-y-auto overflow-x-hidden" style="height: 70vh">
              <div class="row g-3 my-3">
                <ng-container *ngIf="isLoadingProducts, else hasProduct">
                  <app-loading-product></app-loading-product>
                </ng-container>
                <ng-template #hasProduct>
                  <div class="col-12 col-md-6 col-lg-3" *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11,12]">
                    <app-product (onClickBuy)="onOpenProductDialog($event)"></app-product>
                  </div>
                </ng-template>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
